* {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    color: #505050;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
    margin-bottom: 1rem;
    border-radius: 5px;
}

/* =================
    Typography 
   ================= */

h1, .subtitle{
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
}

h1, 
h2,
.article-current-subtitle,
.about-me-subtitle {
    color: #0e1f3b;
    font-weight: 700;
}

h2 {
    font-size: 1.25rem;
    margin: 2rem 0 0;
}

.subtitle {
    font-size: 0.75rem;
}

.article-featured-date, 
.article-recent-date, 
.article-current-date {
    font-size: 0.75rem;
    order: -1;
}

.article-featured-title, 
.article-current-title,
.about-me-title {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
    
}
.article-current-title,
.about-me-title,
.article-recent-title {
    color: #0e1f3b;
}

.article-featured-content {
    max-width: 600px;
}

.article-recent-title {
    font-size: 1.25rem;
    margin: 0 0 0.5rem;
    font-weight: 700;
}

.centered {
    text-align: center;
}

.article-recent-content,
.article-featured-content,
.article-current-content,
.about-me-content,
.article-featured-readmore,
.article-recent-readmore,
.view-more {
   font-size: 0.75rem;
   
}

.article-featured-readmore,
.article-recent-readmore,
.view-more{
    text-transform: uppercase;
}

.article-featured-readmore {
    color: whitesmoke;
}


.article-recent-readmore,
.view-more {
    color: #505050;
}

.view-more {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.article-current-subtitle,
.about-me-subtitle {
    margin: 0;
}


.article-featured-readmore:hover,
.article-featured-readmore:focus,
.article-recent-readmore:hover,
.article-recent-readmore:focus,
.view-more:hover,
.view-more:focus {
    color: #1792d2;
}

.about-me-content + p{
    margin: 0;
}




/* =================
    Layout
   ================= */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.container-nav {
    justify-content: space-between;
    align-items:  center;
}

header {
    padding: 2em 0 1em;
    background-color: #f3efef;
}

.article-featured {
    padding: 5em 0 1.25em 0;
    background-color: #e90a0a;
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: whitesmoke;
}

.container-articles,
.container-articles-more {
    padding: 1rem 0 0;
   
}

.container-articles{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.article-current {
    display: flex;
    flex-wrap: wrap;
}

.article-recent {
    max-width: 600px;
    margin: 0 auto 1rem;
}

.article-recent-image {
    order: -1;
    
}

.about-me-image {
    border-radius: 50%;
    max-width: 100px;
    border: 2px solid;
}

.about-me-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem 0 2rem;
    align-items: center;
    text-align: center;
}

.about-me-secondary {
    order: -1;
}

.about-me-post {
    background-color: #f3efef;
    padding: 1.25rem 1.25rem 0.75rem;
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    font-size: 0.75rem;
    background-color: #0e1f3b;
    margin: 2rem 0 0;
    color: rgba(255,255,255, .65);
    padding: 1rem;
    line-height: 0.3;
}


/* navigation */

.nav-list {
    list-style: none;
    padding: 0;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.nav-list-item {
    padding: 0;
    margin: 0.5em 0;
}

.nav-link {
    text-decoration: none;
    color: #707070;
    padding: .25em 0;
    letter-spacing: 1px;
}

.nav-link:hover,
.nav-link:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover,
.current-page:focus {
    color: #707070;
}




/* =================
    Media queries 
   ================= */
@media (min-width: 600px) {
    .container-nav {
        flex-direction:row;
    }

    h1, .subtitle{
        text-align: left;
    }

    .nav-list {
        flex-direction: row;
        align-items: baseline;
        gap: 1em;
    }

    .nav-list-item {
       margin-left: 1em;
    }

    .article-featured-date, 
    .article-recent-date,
    .article-current-date {
        font-size: 0.75rem;
    }
    
    .about-me-image {
        max-width: 150px;
    }

    .article-featured-title,
    .article-current-title,
    .about-me-title {
        font-size: 2rem;
    }
    
    .article-featured-content, 
    .article-recent-content,
    .article-current-content, 
    .about-me-content,
    .article-readmore {
        font-size: 0.90rem;
    }

    .article-current-subtitle,
    .article-recent-title,
    .about-me-subtitle {
        font-size: 1.25rem;
    }
    .article-featured {
        padding: 10rem 0 3rem;
    }
    
    .about-me-intro {
        flex-direction: row;
        gap: 2rem;
        text-align: left;
    }
    
    footer {
        font-size: 0.75rem;
    }
}
